.item1{
  background-color: lightgray;
  display: flex;
}

.item2{
  display: flex;
}

.title{
  font-weight: bold;
  padding: 5px;
  text-align: right;
  width: 300px;
}

.data{
  padding: 5px;
  text-align: left;
}

.content{
  border: 2px solid #00334D;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.display{
  display: inline;
}

.hidden{
  display: none;
}
