.item1{
  background-color: lightgray;
  display: flex;
}

.item2{
  display: flex;
}

.title{
  width: 300px;
  padding: 5px;
  font-weight: bold;
  text-align: right;
}

.data{
  padding: 5px;
  text-align: left;
}

.content{
  border: 2px solid #00334D;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.legend{
  color: #00334D;
  font-weight: bold;
  margin: 0 auto;
  text-align: left;
  width: 60%;
}
